(use-modules (gnu) (gnu system nss)
             (gnu artwork)
             (gnu packages databases)
             (gnu services desktop)
             (gnu services databases)
             (gnu services docker)
             (gnu services ssh)
	     (nongnu packages linux)
             (nongnu system linux-initrd)
             (dude srvcs workstation))

(operating-system
  (kernel linux)
  (initrd microcode-initrd)
  (firmware (list linux-firmware sof-firmware))
  (host-name "grimoire")
  (timezone "Europe/Moscow")
  (locale "en_US.utf8")

  (bootloader (bootloader-configuration
               (theme (grub-theme
                       (inherit (grub-theme))
                       (image #f)))
               (bootloader grub-efi-bootloader)
               (targets '("/boot/efi"))))

  (file-systems (append
                 (list (file-system
                         (device (file-system-label "my-root"))
                         (mount-point "/")
                         (type "ext4"))
                       (file-system
                         (device (uuid "BF91-D2C7" 'fat))
                         (mount-point "/boot/efi")
                         (type "vfat")))
                 %base-file-systems))

  (users (cons (user-account
                (name "user")
                (comment "-_-")
                (group "users")
                (supplementary-groups '("wheel" "netdev"
                                        "audio" "video" "postgres")))
               %base-user-accounts))

  (packages (append
	     %dude-workstation-packages
	     (map (compose list specification->package+output)
		  '("emacs-stuff"
                    "emacs-magit"
                    "emacs-vterm"
                    "emacs-pdf-tools"
                    "adwaita-icon-theme"
                    "font-google-noto"
                    "texlive"
                    "ibus" "ibus-libpinyin" "dconf"))))

  (services (append
             %dude-workstation-services
             (list
              (service xfce-desktop-service-type)
              (service bluetooth-service-type)
              ;; (service docker-service-type
              ;;          (docker-configuration
              ;;           (%auto-start? #f)))
              (service postgresql-service-type
                       (postgresql-configuration
                        (postgresql postgresql-10)))
              (service openssh-service-type
                       (openssh-configuration
                        (%auto-start? #f))))))

  (name-service-switch %mdns-host-lookup-nss))
